a {
	color: #333;
	text-decoration: none;
}
.logo {
	background-image: url(../images/logos/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 73px;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.small {
	font-size: .8em;
}
.medium {
	font-size: 1.1em;
}
.large {
	font-size: 1.5em;
}
.red {
	color: #ed4747;
}
.green {
	color: #47b101;
}
.blue {
	color: #0099d2;
}
.orange {
	color: #fa8100;
}
.purple {
	color: #b96de1;
}
.brown {
	color: #5e2605;
}
.upgraded {
	color: #ff4949;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.bold {
	font-weight: 700;
}
.content-menu {
	padding: 10px 0 10px 0;
	font-size: 1.1em;
	text-align: center;
}
.content-menu a {
	padding: 10px 0 10px 0;
	font-size: 1.1em;
	color: #555
}
.pure-button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(223, 117, 20);
	font-size: .8em;
}
.pure-button-important-confirmation {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(202, 60, 60);
}